.value {
  margin-top: 2rem;
  margin-right: 2rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.values__description {
  padding: 32px 64px 32px 0;
}

.values__description,
.values__img {
  width: 50%;
}

.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.value:nth-of-type(1) {
  margin-top: 32px;
  margin-right: 32px;
}

.value:nth-of-type(2) {
  margin-top: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__img {
  width: 20px;
  height: 20px;
}

.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}